@charset "windows-1251";
/*=======BASE FIELDS STYLE========*/
 /*
input:required:invalid, input:focus:invalid { -moz-box-shadow: none; }
input:required:valid { }
 */

input[type="email"], input[type="number"], input[type="password"], input[type="text"], input[type="url"] {
	/*////////////////////////////*/
}
select:hover, textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="text"]:hover, input[type="url"]:hover {

}
textarea:focus, select:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="url"]:focus {

}
input[type="email"][disabled="disabled"], input[type="number"][disabled="disabled"], input[type="password"][disabled="disabled"], input[type="text"][disabled="disabled"], input[type="url"][disabled="disabled"] {

}
input[type="email"][disabled="disabled"]:hover, input[type="number"][disabled="disabled"]:hover, input[type="password"][disabled="disabled"]:hover, input[type="text"][disabled="disabled"]:hover, input[type="url"][disabled="disabled"]:hover {


}
input[type="checkbox"], input[type="radio"] { }
input[type="checkbox"]:active, input[type="radio"]:active { }
input[type="checkbox"]:hover { }
input[type="radio"] { }
input[type="checkbox"]:checked, input[type="radio"]:checked { }
input[type="radio"]:checked:after { }
input[type="checkbox"]:checked:after { }
input[type="checkbox"]:focus { }
/* input, textarea {	background:url(fields_bg.png) 0px 0px repeat-x; } */

input.form-error[type="email"], input.form-error[type="number"], input.form-error[type="password"], input.form-error[type="text"], input.form-error[type="url"] { }